	* {
		margin: 0;
		padding: 0;
	}
	
	.bc-f4 {
		background: #f4f4f4;
	}
	
	.text-center {
		text-align: center;
	}
	
	.l-h-50x {
		line-height: 50px;
	}
	
	.fs-20 {
		font-size: 20px;
	}
	
	.m-l-5x {
		margin-left: 5px;
	}
	
	.p-10x {
		padding: 10px;
	}
	
	.h-40x {
		height: 40px;
	}
	
	.l-h-40x {
		line-height: 40px;
	}
	
	.w-80x {
		width: 70px;
	}
	
	.m-l-20x {
		margin-left: 20px;
	}
	
	.h-20x {
		height: 20px;
	}
	
	.m-t-10x {
		margin-top: 10px;
	}
	
	.fl-l {
		float: left;
	}
	
	.m-r-20x {
		margin-right: 20px;
	}
	
	.m-r-10x {
		margin-right: 10px;
	}
	
	.w-30 {
		width: 30%;
	}
	
	.m-a {
		margin: auto;
	}
	
	.w-40 {
		width: 40%;
	}
	
	.w-100x {
		width: 100px;
	}
	
	.dis-b {
		display: block;
	}
	
	.border0 {
		border: 0px;
	}
	
	.middlebtn {
		width: 60%;
		height: 40px;
		line-height: 40px;
		background: #f79030;
		color: white;
		border-radius: 20px;
		text-align: center;
		margin: 20px auto;
	}
	
	.black-mask {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 10000;
	}
	
	.p-a {
		position: absolute;
	}
	
	.bc-white {
		background: white;
	}
	
	.b-t-1 {
		border-top: 1px solid #eaeaea;
	}
	
	.w-100 {
		width: 100%;
	}
	
	.b-0 {
		bottom: 0;
	}
	
	.maxh-210x {
		max-height: 210px;
	}
	
	.overflow-a {
		overflow: auto;
	}
	
	.no-display {
		display: none;
	}
	
	.p-r {
		position: relative;
	}
	
	.t-5x {
		top: 5px;
	}
	
	.m-r-5x {
		margin-right: 5px;
	}
	
	.p-lr-10x {
		padding: 0 10px;
	}
	
	.fl-r {
		float: right;
	}
	
	.fl-l {
		float: left;
	}
	
	.m-l-10x {
		margin-left: 10px;
	}
	
	.h-30x {
		height: 30px;
	}
	
	.l-h-20x {
		line-height: 20px;
	}
	
	.m-lr-10x {
		margin: 0 10px;
	}
	
	.m-b-10x {
		margin-bottom: 10px;
	}
	
	.h-50x {
		height: 50px;
	}
	
	.b-bd-1c {
		border-bottom: 1px dashed #f79030;
	}
	
	.m-t-20x {
		margin-top: 20px;
	}
	
	.border-0 {
		border: 0px;
		outline: none;
	}
	
	.h-80x {
		height: 80px;
	}
	
	.fc333 {
		color: #333;
	}
	
	.fs-14 {
		font-size: 14px;
	}
	
	.border-1c {
		border: 1px solid #ccc;
	}
	
	.r-10x {
		right: 10px;
	}
	
	.b-20x {
		bottom: 20px;
	}
	
	.r-0 {
		right: 0;
	}
	
	.t-0 {
		top: 0;
	}
	
	.l-h-30x {
		line-height: 30px;
	}
	
	.fcorange {
		color: #f79030
	}
	
	.fc666 {
		color: #666;
	}
	
	.z-10010 {
		z-index: 10010;
	}
	
	.b-b-1c {
		border-bottom: 1px solid #f79030;
	}
	.h-150x{
		height: 150px;
	}
	.t-10x{
		top: 10px;
	}
	.r--5x{
		right: -5px;
	}
	.t--5x{
		top: -5px;
	}
	.m-tb-10x{
		margin: 10px 0;
	}
	.bc-orange{
		background: #f79030;
	}
	.submit-disabled{
		background: #f7ae6a;
	}
	.fs-16{
		font-size: 16px;
	}
	.sl{
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.w-200x{
		width: 200px;
	}
	.w-m180x{
		max-width: 180px;
	}
	.text-right{
		text-align: right;
	}
	
